#eut-feature-section-metabox .postbox {border: 1px solid #e5e5e5;margin-bottom: 20px;}
#eut-feature-section-metabox .eut-title {font-size: 14px;padding: 8px 12px;margin: 0;line-height: 1.4;}
#eut-feature-section-metabox .eut-movable {cursor: move;}
.eut-image-item.postbox h3, .eut-map-item.postbox h3, #eut-feature-section-slider h3 {cursor: default;border-bottom: 1px solid #eee;}
.eut-slider-item-minimal {display: inline-block;width: 150px;background: none repeat scroll 0 0 #fff;border: 1px solid #f5f5f5;margin: 5px;cursor: move;}
.eut-button-spacer {float: right;position: relative;right: 10px;top: 3px;}
.eut-feature-slider-item-delete-button, .eut-slider-item-delete-button, .eut-image-item-delete-button, .eut-map-item-delete-button {float: right;position: relative;right: 30px;top: 3px;z-index: 2;}
.eut-vertical-spacer {height: 10px;}
.eut-button-spacer {width: 10px;}
.eut-wp-colorpicker {display: none;padding-top: 2px;}
.eut-setting {padding: 10px 10px 10px 0;}
.eut-setting label {display: inline-block;width: 43%;}
.eut-setting label span {color: #999;display: block;font-size: 12px;font-weight: normal;line-height: 20px;margin: 0;}
.eut-setting input[type="text"], .eut-setting select, .eut-setting .eut-select-colorpicker {display: inline-block;margin: 0;width: 55%;}
.eut-setting .eut-select-colorpicker .eut-select-color-extra {width: 100%;}
.eut-thumb {display: inline-block;vertical-align: top;}
.eut-upload-remove-image {background: #f5f5f5 url("../images/remove.png") no-repeat scroll center center;display: block;height: 16px;position: absolute;right: 0;top: 0;width: 16px;}
.eut-thumb, .eut-upload-replace-image, .eut-thumb-container {height: 120px;width: 120px;}
.eut-slider-settings, .eut-image-settings {height: 120px;}
.eut-upload-replace-image {background: url("../images/add.png") no-repeat scroll center center #f5f5f5;color: #f5f5f5;cursor: pointer;margin-right: 2px;float: left;border: solid 1px #dfdfdf;}
.eut-thumb-container {background: #f5f5f5;margin-right: 2px;float: left;border: solid 1px #dfdfdf;position: relative;display: none;}
.eut-thumb-container.eut-loading {background: url("../images/spinner.gif") no-repeat scroll center center #f5f5f5;}
.eut-thumb-container.eut-visible {display: block;}
.eut-upload-slider-button, .eut-upload-feature-slider-button, .eut-upload-image-button, .eut-upload-multi-map-point {float: left;}
.eut-action-spinner, .eut-modal-spinner {background: url("../images/spinner.gif") no-repeat scroll 0 0/20px 20px rgba(0,0,0,0);vertical-align: middle;display: none;float: left;height: 20px;margin: 2px 5px 0;opacity: .7;width: 20px;}
.eut-modal-spinner {float: right;margin: 7px 5px 0;}
.eut-inner-field {padding-left: 20px;}
.eut-inner-field label {margin-right: 10px;}
.eut-setting-label {font-weight: bold;font-size: 14px;border-bottom: 1px solid #0074a2;margin-bottom: 20px;padding: 10px 0;}
.eut-metabox-content {margin: -6px -12px -12px;overflow: hidden;}
.eut-tabs {overflow: hidden;border-top: 1px solid #d7d8d5;background-color: #f5f6f3;}
.eut-tabs .eut-tab-links {margin: 0;width: 20%;position: relative;z-index: 2;float: left;margin-right: -1px;}
.eut-tabs .eut-tab-links li {display: block;margin: 0;}
.eut-tabs .eut-tab-links li a {display: block;padding: 15px 12px;text-decoration: none;font-size: 14px;line-height: 1.4;font-weight: 600;color: #70716f;border-bottom: 1px solid #d7d8d5;border-right: 1px solid #d7d8d5;background-color: #f5f6f3;}
.eut-tabs .eut-tab-links li a:hover {color: #20201f;background-color: #eff0ee;}
.eut-tabs .eut-tab-links li a:focus {-webkit-box-shadow: none;box-shadow: none;}
.eut-tabs .eut-tab-links li.active a {color: #20201f;background-color: #fff;border-right-color: #fff;}
.eut-tabs .eut-tab-content {float: left;width: 80%;padding: 20px;border-left: 1px solid #d7d8d5;background-color: #fff;padding-bottom: 60px;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.eut-tabs .eut-tab-content .eut-tab-item {display: none;}
.eut-tabs .eut-tab-content .eut-tab-item.active {display: block;}
.admin-color-fresh .eut-primary-color, .admin-color-fresh .eut-tabs .eut-tab-links li.active a {color: #d54e21;}
.admin-color-light .eut-primary-color, .admin-color-light .eut-tabs .eut-tab-links li.active a {color: #d64e07;}
.admin-color-bbp-evergreen .eut-primary-color, .admin-color-bbp-evergreen .eut-tabs .eut-tab-links li.active a {color: #36b360;}
.admin-color-bbp-mint .eut-primary-color, .admin-color-bbp-mint .eut-tabs .eut-tab-links li.active a {color: #33834e;}
.admin-color-blue .eut-primary-color, .admin-color-blue .eut-tabs .eut-tab-links li.active a {color: #52accc;}
.admin-color-coffee .eut-primary-color, .admin-color-coffee .eut-tabs .eut-tab-links li.active a {color: #c7a589;}
.admin-color-ectoplasm .eut-primary-color, .admin-color-ectoplasm .eut-tabs .eut-tab-links li.active a {color: #a3b745;}
.admin-color-midnight .eut-primary-color, .admin-color-midnight .eut-tabs .eut-tab-links li.active a {color: #e14d43;}
.admin-color-ocean .eut-primary-color, .admin-color-ocean .eut-tabs .eut-tab-links li.active a {color: #9ebaa0;}
.admin-color-sunrise .eut-primary-color, .admin-color-sunrise .eut-tabs .eut-tab-links li.active a {color: #be3631;}
.eut-fields-wrapper {display: table;width: 100%;border-bottom: 1px dotted #e0e0e0;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.eut-label {display: table-cell;vertical-align: middle;width: 20%;min-width: 250px;padding: 20px;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
#eut-category-title .eut-label {min-width: 180px;}
.eut-label .eut-title {color: #212121;font-weight: 600;margin-bottom: 6px;display: block;}
.eut-sub-title {color: #212121;font-weight: 600;margin-top: 6px;margin-bottom: 6px;display: block;}
.eut-label label {cursor: default;}
.eut-label .eut-description {display: block;color: #757575;font-size: 11px;}
.eut-label .eut-info {display: block;color: #bdbdbd;font-size: 11px;}
.eut-fields-wrapper.eut-highlight {background-color: #f5f6f3;border: #d7d8d5 1px solid;}
.eut-field-items-wrapper {display: table-cell;vertical-align: middle;width: 80%;padding: 20px 0;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.eut-field-item {display: inline-block;width: 40%;float: left;padding: 0 20px;min-width: 250px;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.eut-field-item.eut-field-item-fullwidth {width: 100%;}
.eut-metabox-side .eut-label, .eut-metabox-side .eut-field-items-wrapper {width: 100%;display: block;padding: 0;}
.eut-metabox-side .eut-label, .eut-metabox-side .eut-field-item {padding: 5px 0px;}
.eut-metabox-side.eut-fields-wrapper {border-bottom: none;}
.eut-metabox-side .eut-upload-replace-image {background: rgba(0,0,0,0) none repeat scroll 0 0;border: medium none;color: #0073aa;height: 30px;text-decoration: underline;width: 100%;}
.eut-metabox-side .eut-upload-replace-image:hover {color: #00a0da;}
.eut-field-item textarea, .eut-field-item input[type=text], .eut-field-item input[type=checkbox], .eut-field-item select {width: 100%;background-color: #fff;border-color: #d7d8d5;-webkit-box-shadow: none;box-shadow: none;-webkit-border-radius: 4px;border-radius: 4px;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;}
.eut-field-item textarea:hover, .eut-field-item input[type=text]:hover, .eut-field-item input[type=checkbox]:hover, .eut-field-item select:hover, .eut-field-item textarea:focus, .eut-field-item input[type=text]:focus, .eut-field-item input[type=checkbox]:focus, .eut-field-item select:focus {background-color: #fafaf9;border-color: #d7d8d5;}
.eut-field-item input[type=checkbox] {width: 16px;height: 16px;margin: 0;}
@media screen and (max-width: 1495px) {.eut-tabs .eut-label {width: 100%;display: block;padding: 0;}
	.eut-tabs .eut-field-items-wrapper {width: 100%;display: block;}
	.eut-tabs .eut-fields-wrapper {padding: 10px 0;margin-bottom: 10px;}
	.eut-field-item {width: 50%;}
	.eut-tabs .eut-field-item {width: 100%;float: none;padding: 0;}
	.eut-tabs .eut-tab-links {width: 30%;}
	.eut-tabs .eut-tab-content {width: 70%;}}
@media screen and (max-width: 1180px) {.eut-label {width: 100%;display: block;padding: 0;}
	.eut-field-item {width: 100%;float: none;padding: 0;}
	.eut-field-items-wrapper {width: 100%;display: block;}
	.eut-fields-wrapper {padding: 10px 20px;margin-bottom: 10px;}}
@media screen and (max-width: 870px) {.eut-slide-setting li, .eut-slide-setting {width: 100%;}}