body {direction: rtl;unicode-bidi: embed;}
#eut-top-bar ul.eut-left-side li.eut-topbar-item {margin-right: 0;margin-left: 15px;}
#eut-top-bar ul.eut-left-side li.eut-topbar-item ul li {margin-right: 0;margin-left: 15px;}
#eut-top-bar ul.eut-right-side li.eut-topbar-item {margin-left: 0;margin-right: 15px;}
#eut-top-bar ul.eut-right-side li.eut-topbar-item ul li {margin-left: 0;margin-right: 15px;}
#eut-header .eut-horizontal-menu ul.eut-menu > li {float: right;}
#eut-header .eut-horizontal-menu ul.eut-menu li {direction: ltr;}
#eut-header .eut-horizontal-menu ul.eut-menu a {direction: rtl;}
#eut-header .eut-horizontal-menu ul.eut-menu ul {left: auto;right: 0;}
#eut-header .eut-horizontal-menu ul.eut-menu li:not(.megamenu) ul ul {left: auto;right: 100%;margin-left: 0;margin-right: 2px;}
#eut-main-menu .sub-menu .eut-menu-description {text-align: right;padding-right: 0;padding-left: 30px;}
#eut-main-header.eut-header-side .eut-main-header-wrapper {padding-right: 0;padding-left: 30px;}
.eut-slide-menu ul.eut-menu .eut-arrow {left: 0;right: auto;}
.eut-slide-menu ul.eut-menu .eut-arrow:after {content: "";}
.eut-slide-menu ul.eut-menu .eut-goback .eut-arrow:after {content: "";}
.eut-slide-menu ul.eut-menu ul {left: 0;right: 100%;}
#eut-hidden-menu:not(.eut-align-center) ul li {text-align: right;}
#eut-main-header.eut-header-side .eut-main-header-wrapper {padding-right: 0;padding-left: 30px;}
.eut-slide-menu ul.eut-menu .eut-arrow {left: 0;right: auto;}
.eut-slide-menu ul.eut-menu .eut-arrow:after {content: "";}
.eut-slide-menu ul.eut-menu .eut-goback .eut-arrow:after {content: "";}
.eut-slide-menu ul.eut-menu ul {left: 0;right: 100%;}
#eut-hidden-menu:not(.eut-align-center) ul li {text-align: right;}
#eut-header .eut-horizontal-menu ul.eut-menu ul.sub-menu {text-align: right;}
.eut-header-element {direction: ltr;}
#eut-header .eut-main-menu .eut-item .label, #eut-hidden-menu .eut-item .label {margin-left: 0;margin-right: 8px;}
#eut-header .eut-horizontal-menu.eut-arrow ul.eut-menu .menu-item-has-children > a::after {display: none;}
#eut-header .eut-horizontal-menu.eut-arrow ul.eut-menu .menu-item-has-children.eut-first-level > a::before {content: "";font-family: "FontAwesome";height: 10px;line-height: 10px;margin-right: 2px;position: relative;top: 2px;width: 10px;}
.eut-toggle-menu:not(.eut-align-center) ul.eut-menu li.menu-item-has-children a {padding-left: 40px;padding-right: 0;}
.eut-toggle-menu ul.eut-menu li a .eut-arrow {right: auto;left: 0;}
#eut-top-bar  .eut-menu-icon, #eut-footer  .eut-menu-icon, .eut-anchor-menu   .eut-menu-icon, .widget_nav_menu .eut-menu-icon, #eut-header .eut-main-menu .eut-menu-icon, #eut-hidden-menu .eut-menu-icon {margin-right: 0;margin-left: 5px;}
#eut-main-header.eut-header-side {right: 0;}
#eut-main-header.eut-header-side .eut-main-header-wrapper {padding-right: 0;}
body.eut-boxed #eut-theme-wrapper.eut-header-side #eut-main-header.eut-header-side {right: auto;}
.eut-background-wrapper {direction: ltr;}
.eut-post-meta li {float: right;}
.eut-blog-small .eut-blog-item {direction: ltr;}
.eut-blog-small .eut-blog-item .eut-post-content {direction: rtl;}
#eut-feature-slider, .owl-carousel {direction: ltr;}
#eut-feature-slider .eut-content {direction: rtl;}
.eut-navigation-bar {direction: ltr;}
.eut-navigation-bar .eut-nav-item .eut-title, .eut-navigation-bar .eut-related-content .eut-title {direction: rtl;}
.eut-single-post-tags ul li {margin-right: 0;margin-left: 14px;}
p.eut-dropcap:first-letter {float: none;}
.eut-tab-icon.eut-position-left {margin-left: 10px;margin-right: 0;float: right;}
.eut-tab-icon.eut-position-right {margin-left: 0;margin-right: 10px;float: left;}
.eut-accordion-icon.eut-position-left {margin-left: 10px;margin-right: 0;float: right;}
.eut-accordion-icon.eut-position-right {margin-right: 10px;margin-left: 0;float: left;}
.woocommerce div.product form.cart div.quantity {float: right;margin: 0 0 0 15px;}
.woocommerce div.product form.cart .button {float: right;}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {margin-left: 20px;}
.eut-var-label {float: right;margin-left: 10px;margin-right: 0;line-height: 66px;}
.woocommerce .eut-single-post-meta.eut-tags ul li {margin-right: 0px;margin-left: 14px;}
#eut-theme-wrapper select {background-position: center left;}
#eut-theme-wrapper .eut-search input[type='text'] {padding-right: 10px;padding-left: 50px;}
#eut-theme-wrapper .eut-search button[type='submit'] {right: auto;left: 6px;}
.eut-widget.eut-contact-info li i {margin-right: 0;margin-left: 20px;float: right;}
.widget.widget_archive li {text-align: left;}
.widget.widget_archive li a {float: right;}
.widget.widget_categories li {text-align: left;}
.widget.widget_categories li ul {padding-left: 0;padding-right: 10px;}
.widget.widget_categories li a {float: right;}
.widget.widget_pages li ul {padding-left: 0;padding-right: 10px;}
.widget.widget_calendar caption {text-align: right;}
.widget.widget_tag_cloud a {margin-left: 4px;margin-right: 0;}
.eut-widget.woocommerce.widget_product_tag_cloud a {margin-left: 4px;margin-right: 0;}
.widget.woocommerce.widget_product_categories li {text-align: left;}
.widget.woocommerce.widget_product_categories ul li a {float: right;}
.widget.widget_nav_menu li ul {padding-left: 0;padding-right: 10px;}
.eut-widget.eut-comments li img {float: right;}
.eut-widget.eut-comments li img + .eut-comment-content {padding-left: 0;padding-right: 20px;}
.eut-widget.eut-latest-news li a.eut-post-thumb + .eut-news-content {padding-left: 0;padding-right: 20px;}
.eut-pagination .eut-icon-nav-right-small:before {content: "";}
.eut-pagination .eut-icon-nav-left-small:before {content: "";}
.mfp-arrow-right:before {content: "";}
.mfp-arrow-left:before {content: "";}
.mfp-counter {right: auto;left: 0;}
.mfp-title {text-align: right;padding-left: 36px;padding-right: 0;}
.wpcf7-form {direction: rtl;}
.wpcf7-form .eut-with-icon i {position: absolute;top: 14px;left: auto;right: 16px;width: 40px;text-align: center;}
#eut-theme-wrapper .wpcf7-form .eut-with-icon input {padding-left: 0;padding-right: 40px;}
.eut-rtl-columns-reverse .eut-column-1-12, .eut-rtl-columns-reverse .eut-column-5-12, .eut-rtl-columns-reverse .eut-column-7-12, .eut-rtl-columns-reverse .eut-column-11-12, .eut-rtl-columns-reverse .eut-column-1-6, .eut-rtl-columns-reverse .eut-column-1-5, .eut-rtl-columns-reverse .eut-column-2-5, .eut-rtl-columns-reverse .eut-column-3-5, .eut-rtl-columns-reverse .eut-column-1-4, .eut-rtl-columns-reverse .eut-column-1-2, .eut-rtl-columns-reverse .eut-column-1-3, .eut-rtl-columns-reverse .eut-column-2-3, .eut-rtl-columns-reverse .eut-column-3-4, .eut-rtl-columns-reverse .eut-column-4-5, .eut-rtl-columns-reverse .eut-column-5-6, .eut-rtl-columns-reverse .eut-column-1 {float: right;}
.eut-privacy-content {padding-right: 0;padding-left: 300px;}
.eut-privacy-buttons-wrapper {right: auto;left: 30px;}
.eut-privacy-btn + .eut-privacy-btn {margin-left: 0;margin-right: 24px;}
#eut-privacy-bar.eut-bar-position-left {right: 15px;left: auto;}
#eut-privacy-bar.eut-bar-position-right {right: auto;left: 15px;}
#eut-privacy-bar.eut-bar-position-left .eut-privacy-agreement, #eut-privacy-bar.eut-bar-position-right .eut-privacy-agreement {float: left;}
@media only screen and (max-width: 1023px) {#eut-privacy-bar.eut-bar-position-left, #eut-privacy-bar.eut-bar-position-right {left: 15px;right: 15px;bottom: 15px;width: auto;}
	.eut-privacy-content {padding: 0;}
	.eut-privacy-buttons-wrapper {position: relative;top: 0;right: 0;-webkit-transform: translateY(0);-moz-transform: translateY(0);-ms-transform: translateY(0);-o-transform: translateY(0);transform: translateY(0);}
	.eut-privacy-agreement {float: left;}}
.eut-privacy-switch .eut-switch {left: 0;right: auto;}