@media only screen and (max-width: 1200px) {.eut-body.eut-boxed #eut-theme-wrapper {width: 90%;}
	.eut-body.eut-boxed .eut-anchor-menu .eut-anchor-wrapper.eut-sticky {width: 90%;}
	.eut-body.eut-boxed #eut-content.eut-right-sidebar .eut-content-wrapper, .eut-body.eut-boxed #eut-content.eut-left-sidebar .eut-content-wrapper {max-width: 90%;}
	body.eut-boxed #eut-theme-wrapper {margin-top: 0;margin-bottom: 0;}}
@media only screen and (max-width: 1023px) {.eut-body.eut-boxed #eut-content.eut-right-sidebar .eut-content-wrapper, .eut-body.eut-boxed #eut-content.eut-left-sidebar .eut-content-wrapper {max-width: 100%;}
	#eut-feature-section .eut-content {padding-top: 30px;padding-bottom: 30px;}
	.eut-content.eut-align-left-center .eut-graphic, .eut-content.eut-align-center-center .eut-graphic, .eut-content.eut-align-right-center .eut-graphic {position: relative;}
	.eut-blog-small .eut-blog-item {margin-bottom: 90px;}
	.eut-blog-small .eut-post-content, .eut-blog-small .eut-media + .eut-post-content {padding-left: 0;overflow: visible;}
	.eut-blog-small .eut-media {width: 100%;padding-right: 0;}
	.eut-bg-image.eut-bg-tablet-sm-left-top {background-position: left top;}
	.eut-bg-image.eut-bg-tablet-sm-left-center {background-position: left center;}
	.eut-bg-image.eut-bg-tablet-sm-left-bottom {background-position: left bottom;}
	.eut-bg-image.eut-bg-tablet-sm-center-top {background-position: center top;}
	.eut-bg-image.eut-bg-tablet-sm-center-center {background-position: center center;}
	.eut-bg-image.eut-bg-tablet-sm-center-bottom {background-position: center bottom;}
	.eut-bg-image.eut-bg-tablet-sm-right-top {background-position: right top;}
	.eut-bg-image.eut-bg-tablet-sm-right-center {background-position: right center;}
	.eut-bg-image.eut-bg-tablet-sm-right-bottom {background-position: right bottom;}}
@media only screen and (max-width: 767px) {br.hidden {display: none;}
	.eut-blog-large .eut-blog-item {margin-bottom: 90px;}
	.eut-blog-large .eut-post-content {padding-left: 0;}
	.eut-blog-large .eut-media {margin-bottom: 30px;}
	.eut-blog-large ul.eut-post-meta {position: static;top: 0;left: 0;width: auto;font-size: .813em;}
	.eut-blog-large ul.eut-post-meta:after {display: none;}
	.eut-blog-large ul.eut-post-meta li {display: inline-block;margin-right: 10px;}
	#eut-comment-form .eut-form-input {width: 100%;float: none;margin-right: 0;}
	.eut-callout.eut-btn-right {display: block;}
	.eut-callout.eut-btn-right .eut-callout-wrapper {position: relative;display: block;vertical-align: top;padding-right: 0;}
	.eut-callout.eut-btn-right .eut-button-wrapper {display: block;vertical-align: top;max-width: 100%;text-align: left;margin-top: 30px;}}
@media only screen and (max-width: 479px) {}