@font-face {font-family: "tenezblack_italic";src: url("../fonts/plau_-_tenez_black_italic-webfont.woff2") format("woff2"),url("../fonts/plau_-_tenez_black_italic-webfont.woff") format("woff");font-weight: normal;font-style: normal;}
@font-face {font-family: "tenezbold_italic";src: url("../fonts/plau_-_tenez_bold_italic-webfont.woff2") format("woff2"),url("../fonts/plau_-_tenez_bold_italic-webfont.woff") format("woff");font-weight: normal;font-style: normal;}
@font-face {font-family: "tenezbold";src: url("../fonts/plau_-_tenez_bold-webfont.woff2") format("woff2"),url("../fonts/plau_-_tenez_bold-webfont.woff") format("woff");font-weight: normal;font-style: normal;}
@font-face {font-family: "tenezitalic";src: url("../fonts/plau_-_tenez_italic-webfont.woff2") format("woff2"),url("../fonts/plau_-_tenez_italic-webfont.woff") format("woff");font-weight: normal;font-style: normal;}
@font-face {font-family: "tenezlight_italic";src: url("../fonts/plau_-_tenez_light_italic-webfont.woff2") format("woff2"),url("../fonts/plau_-_tenez_light_italic-webfont.woff") format("woff");font-weight: normal;font-style: normal;}
@font-face {font-family: "tenezblack";src: url("../fonts/plau_-_tenez-black-webfont.woff2") format("woff2"),url("../fonts/plau_-_tenez-black-webfont.woff") format("woff");font-weight: normal;font-style: normal;}
@font-face {font-family: "tenezlight";src: url("../fonts/plau_-_tenez-light-webfont.woff2") format("woff2"),url("../fonts/plau_-_tenez-light-webfont.woff") format("woff");font-weight: normal;font-style: normal;}
@font-face {font-family: "tenezregular";src: url("../fonts/plau_-_tenez-regular-webfont.woff2") format("woff2"),url("../fonts/plau_-_tenez-regular-webfont.woff") format("woff");font-weight: normal;font-style: normal;}
html {font-size: 100%;-webkit-text-size-adjust: 100%;font-variant-ligatures: none;-webkit-font-variant-ligatures: none;text-rendering: optimizeLegibility;-moz-osx-font-smoothing: grayscale;font-smoothing: antialiased;-webkit-font-smoothing: antialiased;text-shadow: rgba(0,0,0,.01) 0 0 1px;}
a span {font-weight: bolder !important;font-size: 15px !important;letter-spacing: 1px !important;}
h1, h2, h3, h4, h5 {color: #394750;letter-spacing: 0px;font-family: "tenezregular";}
.after-title {font-size: 60px;letter-spacing: 0px;}
.after-title::after {content: "";display: block;margin: 10px auto 56px auto;background: url("imgs/after-title.png") no-repeat center center;width: 280px;height: 5px;}
.row-wrap {max-width: 913px;margin: 0 auto !important;}
.eut-page-title {background-color: #fff;}
.eut-title>span {display: inline-block;font-family: "tenezregular";font-size: 60px;color: #394750;text-align: center;font-weight: 400;letter-spacing: 0px;margin-top: -5px;}
.eut-title>span::after {content: "";display: block;margin: 10px auto 56px auto;background: url("imgs/after-title.png") no-repeat center center;width: 280px;height: 5px;}
.eut-widget-title {font-family: "tenezregular";font-weight: 400;font-style: normal;font-size: 24px;text-transform: capitalize;line-height: 32px;letter-spacing: 0px;color: #394750 !important;}
.widget a:not(.eut-outline):not(.eut-btn) {color: #c2924e;}
.widget:not(.eut-social) a:not(.eut-outline):not(.eut-btn):hover, .widget.widget_nav_menu li.open>a {color: #394750;}
.eut-main-content-wrapper {padding-top: 0 !important;}
.heroRow {height: 700px;}
.headerText {top: 325px;}
.headerText a {color: #c2924e;text-decoration: underline #c2924e;}
.headerText a:hover {color: #f8f0e1;text-decoration: underline #f8f0e1;}
.headerText h2 {font-size: 48px;font-family: "tenezregular";font-weight: 400;letter-spacing: 1px;color: #fff;}
.headerText p {font-size: 18px;color: #fff;font-family: Lato;letter-spacing: 1px !important;}
.container-sm {height: 600px;}
.container-md {height: 700px;}
.container-lg {height: 900px;}
.bottom-header {font-family: "tenezregular" !important;font-size: 20px !important;font-weight: 100 !important;letter-spacing: 1px !important;}
.bottom-text {font-family: Lato !important;font-weight: 400;line-height: 0px !important;letter-spacing: 1px !important;}
#eut-footer .eut-widget-area, #eut-footer .eut-footer-bar, #eut-footer .eut-container {background-color: #39474f !important;border-color: #39474f !important;}
.rates {padding: 28px 30px;}
.rates h3 {font-size: 32px;color: #c2924e;}
.rates p {padding: 0 30px;}
.note-area-row {border-left: 1px solid #c2924e;border-right: 1px solid #c2924e;max-width: 1030px;margin: 8px auto !important;}
.note-area-row .eut-column-1 {padding-left: 2px !important;padding-right: 2px !important;}
.note-area {background: #e5ecea;border-left: 2px solid #c2924e;border-right: 2px solid #c2924e;padding: 50px;}
.note-area h6 {color: #c2924e;}
.note-area p {font-style: italic;font-size: 16px;}
.shipping-wrap .table-row .eut-row.eut-columns-gap-30 {padding: 0;}
.tablepress thead th {background-color: #fff !important;font-weight: 400 !important;vertical-align: middle;font-family: "tenezregular";font-size: 32px !important;font-style: normal !important;}
.tablepress tr {border-color: #c2924e !important;}
.tablepress .column-1 {font-weight: 700;font-size: 14px;}
.tablepress .column-2 {font-style: italic;font-size: 14px;}
.etiquette-margin {margin-bottom: 75px;}
.eut-accordion-wrapper>li .eut-title-wrapper {line-height: 1.4em;background: #e5ecea;padding: 15px 0px 15px 28px;}
.eut-accordion .eut-title {font-size: 16px;color: #c2924e;}
.eut-accordion-arrow {margin-top: -15px;z-index: 2;color: inherit;opacity: 1 !important;background: #394750;padding: 17px;position: relative;height: auto;margin-right: -15px;}
.eut-accordion-arrow i {text-align: center;line-height: 20px;color: #c2924e;}
.single-post #eut-single-content, .single-product #tab-description, .single-tribe_events #eut-single-content {padding: 0 45px;}
.single-post-title {font-family: "tenezregular";font-size: 60px;color: #394750;text-align: center;margin-top: 76px;}
.single-post-title.after-title::after {margin-top: 28px !important;}
#eut-single-media:not(.eut-fullwidth) img {width: 100%;}
.eut-post-title-wrapper .eut-post-meta {margin-bottom: 0;border-top: 1px solid #c2924e;border-bottom: 1px solid #c2924e;width: 100%;padding: 10px 15px;}
.eut-post-author, .eut-post-comments span {display: none;}
.eut-post-meta li {color: #394750 !important;font-size: 14px !important;}
.eut-post-meta li::after {content: "/";opacity: 1;margin: 0 0px;color: #c2924e;}
.eut-post-meta li {float: left;vertical-align: middle;text-transform: uppercase;font-size: 11px;}
.eut-single-simple-title {font-family: "tenezregular";font-weight: 300;font-style: normal;font-size: 48px;text-transform: none;line-height: 56px;letter-spacing: 0px;margin-bottom: 29px !important;}
.eut-post-categories a {color: #394750;}
.eut-post-categories a:hover {color: #c2924e;}
.eut-post-date::after {content: "";padding-left: 22px;}
.eut-post-categories {padding-left: 22px;}
blockquote {border-left: 1px solid #c2924e;padding-left: 2px;}
blockquote p {border-left: 2px solid #c2924e;font-size: 30px;}
#eut-post-bar, #eut-post-bar.eut-layout-3 .eut-post-bar-item .eut-item-icon, #eut-post-bar.eut-layout-3 .eut-post-bar-item {background-color: transparent;border-color: #f7f7f7;}
#eut-sidebar {padding-top: 0px;padding-bottom: 90px;}
.nav-column {border-top: 2px solid #c2924e;}
.nav-column::before {content: "";width: 100%;height: 1px;display: block;margin-top: 2px;background: #c2924e;}
#eut-post-bar .eut-nav-item .eut-title {color: #c2924e;font-weight: 600;font-size: 11px;}
#eut-post-bar .eut-nav-item .eut-title:hover {color: #394750;font-weight: 600;font-size: 11px;}
.eut-blog-item-inner .eut-h3 {font-size: 20px;}
.eut-blog-item-inner .eut-post-meta {display: none;}
.eut-blog-item-inner p {font-size: 14px;line-height: 22px;}
.featured-post .eut-media {display: inline-block;max-width: 62%;}
.featured-post .eut-post-content-wrapper {display: inline-block;max-width: 37%;top: -24px;position: relative;}
.featured-post .eut-post-title {font-size: 32px;line-height: 40px;}
.featured-post a.eut-read-more {background: #c2924e;padding: 16px 42px;color: #fff;}
.featured-post a.eut-read-more:hover {background: #394750;padding: 16px 42px;color: #fff;}
.featured-post .eut-post-content {padding: 0% 12% 5% 12% !important;}
.archive #eut-content {padding-top: 25px;}
.product-title {font-family: "tenezregular";}
.archive #eut-content.eut-left-sidebar #eut-sidebar {width: 25%;padding-right: 20px;float: left;}
.archive #eut-content.eut-left-sidebar #eut-main-content {width: 75%;float: right;padding-left: 10px;}